version: '3.8'

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_service
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - S3_REGION=${S3_REGION}
      - S3_BUCKET=${S3_BUCKET}
      - KMS_KEY_ID=${KMS_KEY_ID}
      - AI71_API_KEY=${AI71_API_KEY}
      - PINECONE_API_KEY=${PINECONE_API_KEY}
      - PINECONE_REGION=${PINECONE_REGION}
    expose:
      - "8000"
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx_service
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certs:/etc/nginx/certs
    networks:
      - backend

networks:
  backend:
    driver: bridge
