version: '3.8'

services:
  fastapi:
    image: ${DOCKER_USERNAME}/razee-engine:latest
    container_name: fastapi_service
    env_file:
      - .env
    expose:
      - "8000"
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx_service
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certs:/etc/nginx/certs
    networks:
      - backend

networks:
  backend:
    driver: bridge