name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/razee-engine:latest

      - name: Deploy to DigitalOcean Droplet
        env:
            SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
            DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
            DOCKER_ACCESS_TOKEN: ${{ secrets.DOCKER_ACCESS_TOKEN }}
            DROPLET_IP: ${{ secrets.DROPLET_IP }}
        run: |
          # Start SSH agent and add the private key
          eval "$(ssh-agent -s)"
          echo "$SSH_PRIVATE_KEY" | ssh-add -
            # Ensure the destination directory exists
            ssh -o StrictHostKeyChecking=no root@${DROPLET_IP} "mkdir -p /root/nginx"
  
            # Transfer the nginx.conf file to the correct location on the Droplet
            scp -o StrictHostKeyChecking=no nginx/nginx.conf root@${DROPLET_IP}:/root/nginx/nginx.conf
  
            # Transfer other necessary files
            scp -o StrictHostKeyChecking=no -r nginx/conf.d root@${DROPLET_IP}:/root/nginx/
            scp -o StrictHostKeyChecking=no -r certs root@${DROPLET_IP}:/root/
  
            # SSH into Droplet, login to Docker Hub, and run docker-compose
            ssh -o StrictHostKeyChecking=no root@${DROPLET_IP} "
              export DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
              export DOCKER_ACCESS_TOKEN=${{ secrets.DOCKER_ACCESS_TOKEN }}
              apt-get update && apt-get install -y docker-compose
              docker-compose -f /root/docker-compose.yml up -d --build
            "